* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
}

section {
  margin-top: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* global features to any website */
ul li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

ul li a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

a {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
}

.card img:hover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#231f20), to(#f4bd24));
  background: linear-gradient(#231f20, #f4bd24);
  border-radius: 8px;
}

h1 {
  font-weight: 800;
  font-size: 30px;
}

h2 {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}

h5 {
  font-size: 15px;
  font-weight: 500;
  line-height: 50px;
}

h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #707070;
}

.btn {
  border: none;
  background-color: #f4bd24;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn:hover {
  border: none;
  background-color: black !important;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

i {
  color: #f4bd24;
}

#after-show .container > h2, .max-salary .container h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #f4bd24;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.old-salary {
  margin-right: 3rem;
}

.hidfooter .container .content .item.pars i, .top-header .search .iconserch i, header .carousel-caption .content .links, header .carousel-caption .content .links .curoir-btn, .max-salary .container .col .over i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
}
footer .container {
  padding: 30px;
  padding-bottom: 0px;
}
footer .container * {
  color: white;
  font-size: 17px;
}
footer .container .content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
footer .container .content h5 {
  color: #f4bd24;
}
footer .container .content a:hover {
  color: #f4bd24;
}
footer .container .content .col4 .sebscip {
  padding: 0px 20px;
}
footer .container .content .col4 .download {
  margin-top: 0.5rem;
}
footer .container .content .col4 .download img {
  max-width: 45%;
  cursor: pointer;
}
@media (max-width: 767px) {
  footer .container .content .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .content .contact input {
    margin-bottom: 1rem;
    padding: 15px !important;
  }
}
footer .container .col {
  text-align: center;
}
footer .container .socil i {
  color: #f4bd24 !important;
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: larger;
}
footer .botoomfoot {
  background-color: #f4bd24;
  padding: 15px;
}
@media (max-width: 767px) {
  footer .botoomfoot {
    margin-bottom: 4.4rem;
  }
}
footer .botoomfoot .container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .botoomfoot .container .left {
  width: 45%;
}
footer .botoomfoot .container .left p {
  color: black;
  font-size: small;
}
@media (max-width: 767px) {
  footer .botoomfoot .container .left p {
    font-size: small;
  }
}
footer .botoomfoot .container .left p a {
  font-weight: bold;
  color: red;
}
footer .botoomfoot .container .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .botoomfoot .container .right img {
  width: 75px;
  height: 50px;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  footer .botoomfoot .container .right img {
    width: 25px;
  }
}

.hidfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1111123;
  width: 100%;
}
@media (max-width: 767px) {
  .hidfooter {
    display: inherit !important;
  }
}
.hidfooter .container .content {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  position: relative;
}
.hidfooter .container .content .item i {
  cursor: pointer;
}
.hidfooter .container .content .item.pars {
  background-color: transparent;
  position: relative;
}
.hidfooter .container .content .item.pars i {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #f4bd24;
  color: black;
  position: relative;
  -webkit-transform: translate(0px, -40%);
          transform: translate(0px, -40%);
  position: relative;
}
.hidfooter .container .content .item img {
  width: 20px;
  color: #f4bd24;
  cursor: pointer;
}

.toTop {
  position: fixed;
  bottom: 11%;
  right: 5%;
  font-size: 20px;
  background-color: #f4bd24;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  animation: 1s linear infinite alternate-reverse toup;
  cursor: pointer;
  display: none;
}
.toTop i {
  color: white;
}

@-webkit-keyframes toup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes toup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.top-header {
  padding: 15px;
}
.top-header .search {
  position: relative;
  margin-left: 1rem;
}
.top-header .search input {
  width: 100%;
  padding: 10px;
}
.top-header .search input:focus {
  outline: none;
}
.top-header .search .iconserch {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
  background-color: #f4bd24;
  height: 100%;
  padding: 0px 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-header .search .iconserch i {
  color: black;
}
.top-header .left {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.top-header .left .leng {
  margin-left: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.top-header .left .leng span {
  margin-left: 0.5rem;
}
.top-header .left i {
  color: white;
  margin-left: 1rem;
  cursor: pointer;
}
@media (max-width: 767px) {
  .top-header {
    display: none;
  }
}

.navbar {
  background-color: #f4bd24;
  position: sticky;
  top: 0;
  z-index: 11;
}
.navbar .nav-item a {
  cursor: pointer;
  color: black;
}
.navbar .nav-item a .far.fa-align-justify {
  font-size: 20px;
}
.navbar .nav-item a:hover {
  color: white;
}
@media (max-width: 991px) {
  .navbar {
    background-color: black;
  }
  .navbar .nav {
    border-bottom: 1px solid gray;
  }
  .navbar .nav .nav-item a,
.navbar .nav .nav-item i {
    color: #f4bd24;
  }
  .navbar .nav .nav-item a:hover,
.navbar .nav .nav-item i:hover {
    color: white;
  }
}
@media (max-width: 557px) {
  .navbar .nav {
    border: none;
  }
  .navbar .nav-item {
    display: none;
  }
  .navbar .nav-item.togle,
.navbar .logo.nav-item,
.navbar .nav-item.sochil {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    color: white;
  }
  .navbar .nav-item.sochil {
    margin-right: 1rem;
  }
  .navbar .nav-item.sochil i {
    margin-left: 0.4rem;
    color: white;
    cursor: pointer;
  }
}

header .carousel-caption .content {
  position: absolute;
  padding: 30px;
  height: auto;
  width: 450px;
  bottom: 400%;
  left: 65%;
  background: rgba(16, 15, 15, 0.65);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .carousel-caption .content .title {
  color: #f4bd24;
  font-size: 25px;
  font-weight: bolder;
}
header .carousel-caption .content .links .cursol-link {
  padding: 10px;
  background-color: #f4bd24;
  border-radius: 10px;
  color: black;
  margin-left: 1rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
header .carousel-caption .content .links .cursol-link:hover {
  background-color: black;
  color: white;
}
header .carousel-caption .content .links .curoir-btn {
  background-color: #f4bd24;
  margin-left: 1rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: black;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 20px;
}
header .carousel-caption .content .links .curoir-btn:hover {
  background-color: black;
  color: #f4bd24;
}

#offcanvasExample.offcanvas-start {
  width: 90% !important;
}
#offcanvasExample .parsonil {
  background-color: #f4bd24;
  border-radius: 12px;
}
#offcanvasExample .parsonil .content {
  text-align: center;
}
#offcanvasExample .parsonil .content p {
  font-weight: bold;
  font-size: 18px;
}
#offcanvasExample .parsonil .content .imgpar {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
#offcanvasExample .parsonil .content .unitstat {
  width: 40px;
  margin-left: 0.5rem;
}
#offcanvasExample .links p {
  border-bottom: 1px solid gray;
  padding: 8px;
  padding-bottom: 15px;
}
#offcanvasExample .links p:last-of-type {
  border-bottom: none;
}
#offcanvasExample .links p:last-of-type a {
  margin-left: 2rem;
}
#offcanvasExample .links p a {
  color: #f4bd24;
  font-size: 20px;
}
#offcanvasExample #accirdion {
  border-bottom: 1px solid gray;
}
#offcanvasExample #accirdion * {
  background-color: transparent !important;
  color: #f4bd24 !important;
  font-size: 20px;
}
#offcanvasExample #accirdion .accordion-button {
  color: #f4bd24 !important;
}
#offcanvasExample .accordion-button::after {
  background-image: none !important;
  border: transparent 8px solid;
  border-top-color: #f4bd24;
  margin-left: 0;
}

#after-show .container #carouselExampleInterval .carousel-control-next-icon,
#after-show .container #carouselExampleInterval .carousel-control-prev-icon {
  background-color: aqua;
  border-radius: 50%;
  background-color: #f4bd24;
}
@media (max-width: 571px) {
  #after-show .container #carouselExampleInterval .hid {
    display: none !important;
  }
}

.max-salary .container .col {
  cursor: pointer;
}
.max-salary .container .col img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.max-salary .container .col .over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 2rem;
  top: 2rem;
  z-index: 1;
  display: none;
}
.max-salary .container .col .over i {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.max-salary .container .col .over i:hover {
  background-color: red;
  color: white;
}
.max-salary .container .col:hover .over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.max-salary .container .col:hover img {
  opacity: 0.3;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.max-salary .container .card .card-title {
  font-size: large;
}
.max-salary .container .card .card-title,
.max-salary .container .card .card-text {
  color: black !important;
}
@media (max-width: 767px) {
  .max-salary .all-prodect {
    display: none;
  }
  .max-salary #carouselExampleControls12222,
.max-salary #carouselExampleControls1222222 {
    display: inherit !important;
  }
}

#prodect-one {
  background-color: #211e1f;
}
#prodect-one .container {
  padding: 50px;
}
#prodect-one .container .card {
  background-color: transparent !important;
  text-align: center;
}
#prodect-one .container .card .left {
  margin-left: 8rem;
}
#prodect-one .container .card * {
  color: white;
  font-size: 17px;
}
#prodect-one .container .card .prend {
  color: #f4bd24;
}